<h1>New Batch</h1>

<%= render 'form', batch: @batch, url: batches_path(course_id: @batch.course_id, school_id: @batch.school_id) %>

<%= link_to 'Back', batches_path(course_id: @batch.course_id, school_id: @batch.school_id) %>
